main {
  margin: auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5% 5% 5%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}